@media screen and (min-width: 480px) {
    .responsive-container {
        max-width: 60vw;
        margin-left:20vw;
    }

    .card {
    	width: 100%;
    }

    #back-button {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px) {
    
	#back-button {
		margin-top: 5px;
		margin-right: 5vw;
		margin-bottom: 15px;
	}
	
	.card {
		width: 100%;
	}
}

.card-img-top {
	height: 35px;
	width: 35px;
	margin-left: 20px;
	margin-top: 20px;
}
