<br>
<div class="responsive-container">
	<button type="button" 
	        class="btn btn-success float-right" 
	        [routerLink]="['home']"
	        id="back-button">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
		Back to Map
	</button>

	<!-- <div *ngIf="!place"> -->
	<div>
		<br>
		<br>
		<div id="loading-map-alert" 
			 class="alert alert-success" 
			 role="alert"> 
		  <h4>...<em>Loading Details</em></h4>
		</div>
	</div>

	<!-- <div class="card" *ngIf="place"> -->
	<div class="card">
	  <img class="card-img-top" src="{{photoSrc}}" alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title"><a href="{{place.website}}">{{place.name}}</a></h4>
	    <p class="card-text" *ngIf="place.opening_hours.open_now">Open Now</p>
	    <p class="card-text" *ngIf="!place.opening_hours.open_now">Closed Now</p>

	    <p class="card-text">Average Rating: {{place.rating}}</p>
	    <a href="#" class="btn btn-primary">Leave A Review</a>
	  </div>
	</div>

</div>
