<br>
<div class="responsive-container">
	<button type="button" 
	        class="btn btn-success float-right" 
	        [routerLink]="['home']"
	        id="back-button">
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
		Back to Map
	</button>
	<div class="card">
	  <img class="card-img-top" src="..." alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title">Card title</h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
</div>
